@import "src/styles/scss/partials/mixins";
@import "src/styles/scss/partials/variables";

.root {
    padding: var(--spacing-x-large);
    align-items: flex-start;

    &__image {
        border-radius: var(--border-radius-small);
        @include skeleton-loader(150px, 100%, 4s);
    }

    &__row {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;

        p {
            border-radius: var(--border-radius-small);
            @include skeleton-loader(10px, 30%, 4s);
        }
    }

    &__title {
        border-radius: var(--border-radius-small);
        @include skeleton-loader(30px, 100%, 4s);
    }
}
