@import "src/styles/scss/partials/mixins";

.root {
    @include container("medium");
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: var(--gray-400);
    margin-top: var(--spacing-xx-large);
    gap: var(--spacing-large);

    p {
        margin: 0;
    }

    &__container {
        width: 100%;
        height: auto;
        border: 1px solid var(--gray-900);
        background-color: rgb(17 24 39 / 0.3);
        border-radius: var(--border-radius-small);
        padding: var(--spacing-xxx-large);
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin: var(--spacing-xx-large) var(--spacing-x-large);
    }
}

@include xs {
    .root {
        h1 {
             @include font("h3");
        }

        p {
             @include font("subtitle2");
        }
    }
}
