@import "src/styles/scss/partials/mixins";
@import "src/styles/scss/partials/variables";

.root {
    background-color: var(--gray-900);
    height: 80px;
    display: flex;
    align-items: center;
    border-radius: var(--border-radius-small);
    justify-content: space-between;
    padding: var(--spacing-large) var(--spacing-xx-large);
    width: 100%;

    &__actions {
        width: auto;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: var(--spacing-large);

        button {
            height: 40px;
            display: flex;
            align-items: center;
            justify-content: center;
            text-transform: uppercase;
            padding: 0 var(--spacing-x-large);
            border-radius: var(--border-radius-small);
            white-space: nowrap;
            color: var(--gray-900);
            cursor: pointer;

            @include font("button1");
        }
    }
}

@include xs {
    .root {
        border-radius: 0;
        padding: var(--spacing-large);
    }
}
