@import "src/styles/scss/partials/mixins";
@import "src/styles/scss/partials/variables";

.root {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--gray-800);
    justify-content: space-between;
    width: 100%;
    min-height: 100vh;

    &__children {
        width: 100%;
        padding: var(--spacing-large);
    }
}

@include xs {
    .root {
        &__children {
            padding: 0;
        }
    }
}
